.container{
    padding: 10px;
}

.section{
    display: flex;
    align-content: center;
    align-items: center;
}

mat-radio-button{
    width: 100%;
    padding: 10px;
}

.wrap-mat-radio-label {
    white-space: normal;
}