.container{
    margin: 10px;
}

.example-card{
    margin: 10px 10px;
    width: 400px;
}

.example-header-image {
    background-image: url('https://cdn.imgbin.com/17/6/19/imgbin-youtube-logo-internet-marketing-subscribe-youtube-logo-ZStYAQskpiCPL1pGwgsrnF1Tj.jpg');
    background-size: cover;
}

.card-list{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
}