<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <p>Username</p>
    <input matInput [(ngModel)]="data.email">
  </mat-form-field>
</div>
<div mat-dialog-content>
  <p>Password</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.password">
  </mat-form-field>
</div> -->
<!-- <div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>OK</button>
</div> -->



<div class="header">
  <button mat-button (click)="isSignUp = false" cdkFocusInitial>SIGN IN</button>
  <button mat-button (click)="isSignUp = true">SIGN UP</button>
</div>
<hr>
<div class="example-container" *ngIf="!isSignUp">

  <mat-form-field>
    <input matInput placeholder="Email" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Password" [formControl]="password" required [type]="hide ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>

  <!-- <button mat-button (click)="onCancel()">CANCEL</button> -->
  <button mat-button (click)="onLogin()" cdkFocusInitial>LOGIN</button>
</div>

<div class="example-container" *ngIf="isSignUp">
  <mat-form-field>
    <input matInput placeholder="Email" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Password" [formControl]="password" required [type]="hide ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>

  <!-- <button mat-button (click)="onCancel()">CANCEL</button> -->
  <button mat-button (click)="onSignUp()" cdkFocusInitial>SIGN UP</button>
</div>