<div class="container">

  <input type="file" (change)="parse($event.target.files)" hidden accept="*.csv" id="inputFile" />
  <button *ngIf="!isReady2InsertDB()" mat-raised-button color="warn" (click)="upload()">Upload File</button>

  <div class="example-container">
    <mat-form-field class="question-title">
      <input [(ngModel)]="COLLECTION.C_TITLE" name="C_TITLE" matInput placeholder="Collection Title">
    </mat-form-field>
    <mat-form-field class="question-title">
      <input [(ngModel)]="COLLECTION.C_DURATION" name="C_DURATION" matInput placeholder="Duration to take test">
    </mat-form-field>
  </div>
  <button *ngIf="isReady2InsertDB()" mat-raised-button color="warn" (click)="insertDB()">Insert Database</button>
  <app-loading *ngIf="isLoading"></app-loading>
  <app-question *ngFor="let QUESTION of QUESTIONS" [QUESTION]="QUESTION">

  </app-question>
</div>