.container{
    padding: 10px;
}

.mat-card{
    margin: 10px 0;
}

.section{
    display: flex;
    align-content: center;
    align-items: center;
}

mat-radio-button{
    width: 100%;
    padding: 10px;
}

.wrap-mat-radio-label {
    white-space: normal;
}

.example-container {
    display: flex;
    flex-direction: column;
  }
  