<mat-card>
  <mat-card-content>
    <section class="section-question">
      <h3>{{QUESTION.Q_Title}}</h3>
      <p>{{QUESTION.Q_Text}}</p>
    </section>
    <section class="section">
      <mat-radio-group value="{{QUESTION.Q_answerIndex}}" (change)="onChange($event)">
        <mat-radio-button *ngFor="let Answer of QUESTION.Q_Answers; let i = index" value="{{i+1}}">
          <span class="wrap-mat-radio-label">{{Answer.A_Text}}</span>
        </mat-radio-button>
      </mat-radio-group>
    </section>
  </mat-card-content>
</mat-card>