<div class="container">
  <h3>Hi {{authService?.USER?.U_NAME}},</h3>
</div>
<mat-nav-list>
  <mat-list-item *ngFor="let COLLECTION of COLLECTIONS">
    <p [routerLink]="['/exam', COLLECTION.C_ID]" routerLinkActive="router-link-active"
      matLine>{{COLLECTION.C_TITLE}}</p>
    <p matLine> {{COLLECTION.C_QUESTIONS.length}} questions </p>
    <button mat-button color="primary" [routerLink]="['/exam', COLLECTION.C_ID]">Test now</button>
  </mat-list-item>
</mat-nav-list>
<app-loading *ngIf="isLoading"></app-loading>