<div class="main">
  <div class="container">
    <mat-button-toggle-group appearance="legacy" [(ngModel)]="ACTION" aria-label="Font Style">
      <mat-button-toggle cdkFocusInitial value="SIGNIN" (change)="selectButton($event)">SIGN IN</mat-button-toggle>
      <mat-button-toggle value="SIGNUP" (change)="selectButton($event)">SIGN UP</mat-button-toggle>
    </mat-button-toggle-group>
    <hr>
    <div class="example-container" *ngIf="ACTION =='SIGNIN'">

      <mat-form-field>
        <input matInput placeholder="Email" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" [formControl]="password" required [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>

      <!-- <button mat-button (click)="onCancel()">CANCEL</button> -->
      <button mat-button (click)="onLogin()" cdkFocusInitial>LOGIN</button>
    </div>

    <div class="example-container" *ngIf="ACTION =='SIGNUP'">
      <mat-form-field>
        <input matInput placeholder="Email" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" [formControl]="password" required [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Your name" [formControl]="name" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      <!-- <button mat-button (click)="onCancel()">CANCEL</button> -->
      <button mat-button (click)="onSignUp()" cdkFocusInitial>SIGN UP</button>
      <app-loading *ngIf="isLoading"></app-loading>
    </div>
  </div>
</div>